@mixin background-image($value) {
 	background-image: -o-linear-gradient($value);
	background-image: -moz-linear-gradient($value);
	background-image: -webkit-linear-gradient($value);
	background-image: -ms-linear-gradient($value);
}

@mixin toRem($property, $value) {
    #{$property}: ($value / 16) + rem;
}

@mixin responsiveImage($value){
	position: relative;
	height: 0;
	padding-bottom: $value; // height / width * 100
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}